.header-blue {
  background:linear-gradient(135deg, hsl(0, 0%, 0%), #ffffff);
  background-color:#184e8e;
  padding-bottom:80px;
  font-family:'Source Sans Pro', sans-serif;
}


/* @media (min-width:768px) {
  .header-blue {
    padding-bottom:120px;
    margin: 71px 0px 0px 0px;
  }
} */
@media (max-width:768px) {
  .header-blue {
   
    margin: 63px 0px 0px 0px;
  }
}

.header-blue .navbar {
  background:transparent;
  padding-top:.75rem;
  padding-bottom:.75rem;
  color:#fff;
  border-radius:0;
  box-shadow:none;
  border:none;
  position: fixed;
width: 100vw;
top: 0px;
z-index: 99;
background-color: #000000;
}

@media (min-width:768px) {
  .header-blue .navbar {
    padding-top:1rem;
    padding-bottom:1rem;
  }
}

.header-blue .navbar .navbar-brand {
  font-weight:bold;
  color:inherit;
}

.header-blue .navbar .navbar-brand:hover {
  color:#f0f0f0;
}

.header-blue .navbar .navbar-collapse {
  border-top:1px solid rgba(255,255,255,0.3);
  margin-top:.5rem;
}

@media (min-width:768px) {
  .header-blue .navbar .navbar-collapse {
    border-color:transparent;
    margin:0;
  }
}

.header-blue .navbar .navbar-collapse span .login {
  color:#d9d9d9;
  margin-right:.5rem;
  text-decoration:none;
}

.header-blue .navbar .navbar-collapse span .login:hover {
  color:#fff;
}

.header-blue .navbar .navbar-toggler {
  border-color:rgba(255,255,255,0.3);
}

.header-blue .navbar .navbar-toggler:hover, .header-blue .navbar-toggler:focus {
  background:none;
}

.header-blue .navbar .navbar-nav a.active, .header-blue .navbar .navbar-nav > .show .dropdown-item {
  background:none;
  box-shadow:none;
}

@media (min-width: 768px) {
  .header-blue .navbar-nav .nav-link {
    padding-left:.7rem;
    padding-right:.7rem;
  }
}

@media (min-width: 992px) {
  .header-blue .navbar-nav .nav-link {
    padding-left:1.2rem;
    padding-right:1.2rem;
  }
}

.header-blue .navbar .navbar-nav > li > .dropdown-menu {
  margin-top:-5px;
  box-shadow:0 4px 8px rgba(0,0,0,.1);
  background-color:#fff;
  border-radius:2px;
}

.header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item {
  line-height:2;
  color:#37434d;
}

.header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item:hover {
  background:#ebeff1;
}

.header-blue .action-button, .header-blue .action-button:not(.disabled):active {
  border:1px solid rgba(255,255,255,0.7);
  border-radius:40px;
  color:#ebeff1;
  box-shadow:none;
  text-shadow:none;
  padding:.3rem .8rem;
  background:transparent;
  transition:background-color 0.25s;
  outline:none;
}

.header-blue .action-button:hover {
  color:#fff;
}

.header-blue .navbar .form-inline label {
  color:#d9d9d9;
}

.header-blue .navbar .form-inline .search-field {
  display:inline-block;
  width:80%;
  background:none;
  border:none;
  border: 1.4px solid #b3b3b3e5;
  border-radius:25px;
  color:#ccc;
  box-shadow:none;
  color:inherit;
  transition:border-bottom-color 0.3s;
}

.header-blue .navbar .form-inline .search-field:focus {
  border-bottom:1px solid #ccc;
}

.header-blue .hero {
  margin-top:20px;
  text-align:center;
}

@media (min-width:768px) {
  .header-blue .hero {
    margin-top:60px;
    text-align:left;
  }
}

.header-blue .hero h1 {
  color:#fff;
  font-size:40px;
  margin-top:0;
  margin-bottom:15px;
  font-weight:300;
  line-height:1.4;
}

@media (min-width:992px) {
  .header-blue .hero h1 {
    margin-top:190px;
    margin-bottom:24px;
    line-height:1.2;
  }
}

.header-blue .hero p {
  color:rgba(255,255,255,0.8);
  font-size:34px;
  margin-bottom:0px;
  font-weight:300;
}

.header-blue .phone-holder {
  text-align:right;
}

.header-blue div.iphone-mockup {
  position:relative;
  max-width:300px;
  margin:20px;
  display:inline-block;
}

.header-blue .iphone-mockup img.device {
  width:100%;
  height:auto;
}

.header-blue .iphone-mockup .screen {
  position:absolute;
  width:88%;
  height:77%;
  top:12%;
  border-radius:2px;
  left:6%;
  border:1px solid #444;
  background-color:#aaa;
  overflow:hidden;
  background:url(../img/back.jpg);
  background-size:cover;
  background-position:center;
}

.header-blue .iphone-mockup .screen:before {
  content:'';
  background-color:#fff;
  position:absolute;
  width:70%;
  height:140%;
  top:-12%;
  right:-60%;
  transform:rotate(-19deg);
  opacity:0.2;
}



/* animation */
.word {
  color: white;
  font: 700 normal 2.5em 'tahoma';
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
  margin: 2vh 11px;;
  font-size: 22px;
}
.arrow{
  visibility: hidden;
}

.social-icon a i{
  opacity: 0.6;
    font-size: 20px !important;
  }

.social-icon a i:hover{
opacity: 1;
  font-size: 24px !important;
}

@media only screen and (max-width: 991px) and (min-width: 767px) {
  .navbar-nav,.form-inline{
   display: contents !important;
  }
.navbar-text .login{
  display: ruby !important;
}
  .signup-btn{
    margin: 0px -50px 0px 4px;
  }
  .form-group{
    margin: 0px -18px 0px 1px;
  }
}











/* <!--card start from here features what wwe provide-->
  <!--card start from here features what wwe provide-->
  <!--card start from here features what wwe provide--> */
.service-heading{
  display: flex;
 margin: -5px 0px -22 px 0px;;
}

.service-heading h2{
  display: flex;
  margin: 23px auto;
}
.container hr{
  margin: auto;
  color: blue;
}

#service{
  display: flex;
}
@media only screen and (max-width: 400px) {
  #service{
    display: block;
  }
  .arrow{
    visibility: visible;
  }
  .header-blue .hero p{
    display: block;
  }
  
}

.feature .feature-item{
  text-decoration: none;
  color: #222324;
  
}

.feature :hover{
  font-size: 20px;
  background-color: #aaa;
}

.icon{
   display: flex;
align-items: center;
}
.net-icon{
  margin: 6px -4px 0px 0px;
}


.java-icon h3{
  margin: 7px 0px 0px 11px;
}
.net-icon h3{
  margin: 0px 0px 0px 5px;
}
.andriod-icon{
  margin: 0px 5px 6px 0px;;
}
.php-icon{
  margin: 1px 2px 4px 0px;
}
.frontened-icon{
  font-size: 23px;
margin: -4px 8px 24px 0px;
}
.desginer-icon{
  font-size: 23px;
margin: -4px 8px 24px 0px;

}
.sql-icon{
  font-size: 31px;
}

/* about me templete *//* about me templete *//* about me templete *//* about me templete */
/* about me templete *//* about me templete *//* about me templete *//* about me templete */
/* about me templete *//* about me templete *//* about me templete *//* about me templete */


.card{
  border:none;

  position:relative;
  overflow:hidden;
  border-radius:8px;
  cursor:pointer;
}

.card:before{
  
  content:"";
  position:absolute;
  left:0;
  top:0;
  width:4px;
  height:100%;
  background-color:#7d7d83;
  transform:scaleY(1);
  transition:all 0.5s;
  transform-origin: bottom
}

.card:after{
  /*  */
  content:"";
  position:absolute;
  left:0;
  top:0;
  width:4px;
  height:100%;
  background-color:hsla(0, 0%, 1%, 0.808);
  transform:scaleY(0);
  transition:all 0.5s;
  transform-origin: bottom
}

.card:hover::after{
  transform:scaleY(1);
}


.fonts{
  font-size:11px;
}

.social-list{
  display:flex;
  list-style:none;
  justify-content:center;
  padding:0;
}

.social-list li a{
  padding:10px;
  color:#51515e;
  font-size:19px;

}

.social-list .fb-about :hover{
  color:  #3B5998 !important;
}
.social-list .twitter-about :hover{
  color:  #55acee !important;
}
.social-list .insta-about :hover{
  color:  #ac2bac !important;
}
.social-list .linkedin-about :hover{
  color:  #3B5998 !important;
}

.social-list li a :hover{
  font-size: 30px
}

.buttons button:nth-child(1){
     border:1px solid #020202 !important;
     color:#0a0a0a;
     height:40px;
}

.buttons button:nth-child(1):hover{
     border:1px solid hsla(0, 0%, 1%, 0.808)!important;
     color:#fff;
     height:40px;
     background-color:hsla(0, 0%, 1%, 0.808);
}

.buttons button:nth-child(2){
     border:1px solid hsla(0, 0%, 1%, 0.808) !important;
     background-color:hsla(0, 0%, 1%, 0.808);
     color:#fff;
      height:40px;
}




/* contact form in landing page *//* contact form in landing page *//* contact form in landing page */
/* contact form in landing page *//* contact form in landing page *//* contact form in landing page */
/* contact form in landing page *//* contact form in landing page *//* contact form in landing page */
.text-center .send{
  border: 1px solid;
  border-radius: 40px;
  background-color: #000;
  color: white !important; ;
}

.email-number-icon .list-unstyled .email-icon:hover{
  color: #e80909 !important;
  cursor: pointer;
}



/* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer */
/* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer */
/* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer */
footer{
  background: #000;
}

.footer-main-heading-colour{
  color: #51515e;
}















































































